/*Variable*/
:root {
    --heading-font: "Amarante", serif;
    --body-font: "Montserrat", sans-serif;
    --color1: #fdf9f9;
    --color2: #fe8181;
    --color3: #ffffff;
}

/*reset general*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/
body {
    font-family: var(--body-font);
    background-color: var(--color3);
}

/*Ancho de la pagina*/
header,
main,
footer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.herotext {

    width: 100%;
    padding: 16px 0;
    text-align: center;
    background-color: #fdf2f2;
    color: #050505;
    font-family: var(--heading-font);
    z-index: 10;
    margin: 0;
    opacity: 0.7;
}
/*Information*/
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;
    flex-wrap: wrap;
    margin: 10px 0 10px 0;
}
/*Formulario y mapa */
.form-section {
    display: flex;
    justify-content: center;
    gap: 30px;
}
/*formulario*/
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    border: 3px solid var(--color2);
    padding: 20px;
    margin-bottom: 10px;
    height: auto;
}

.contact-form label, p  {
    font-weight: bolder;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    width: 100%;
    padding: 6px;
}

.opcion {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 30px;
}

.opcion label {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: normal;

}

#message {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
}
.contact-form button {
    display: block;
    margin: 15px auto 0 auto;
}
footer p{
    font-weight: normal;
}

/*-----------pantallas pequeñas-----------*/
@media (max-width: 1050px) {
    .form-section {
        flex-direction: column;
        align-items: center;
        gap: 20px;

    }

    .map iframe {
        width: 100%;
        height: 400px;
    }
    .map{
        width: 80%;
    }

    .contact-form {
        width: 80%;
    }
}




