/*Variable*/
:root {
    --heading-font: "Roboto", sans-serif;
    --body-font: "Montserrat", sans-serif;
    --color1: #050505;
    --color2: #fdf9f9;
    --color3: #173348;
    --color4: #21425b;
}

/*Ancho de la pagina*/
header,
main,
footer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

/*body*/
body {
    font-family: var(--body-font);
    background-color: var(--color2);
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
    color: var(--color1);
}

/* --- Header --- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color3);
    position: relative;
}

/* Logo */
header img {
    width: 100px;
    margin-left: 5px;
}

/* Nombre de la página */
#name-page {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 2rem;
    flex-grow: 1;
    color: var(--color2);
}

/* Botón de menú */
#menu-button {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color2);
    margin-right: 2rem;
}

/* Navegación */
.links {
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background-color: var(--color4);
    flex-direction: column;
    color: var(--color2);

}
.links.open {
    display: block;
    text-align: center;
}
.links a {
    display: block;
    padding: 1rem ;
    color: var(--color2);
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.links a:hover,
.links a:active {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
}
/* --- Main --- */
main {
    padding-top: 10px;
}
h1 {
    text-align: center;
    font-size: 2rem;
    color: var(--color1);
}
h2{
    background-color: var(--color4);
    font-size: 1.5rem;
    color: var(--color2);
    padding: 0.5rem;
    text-align: center;
    border-radius: 10px 10px 0 0;
}
section{
    margin: 10px 0;
    border: 2px solid var(--color1);
    border-radius: 10px;
    align-items: center;
}
/*about me*/
.about p{
    padding: 1rem;
    color: var(--color1);
}
/*foto*/
.foto img {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: auto;
    border-radius: 10px;
    padding: 10px;
}
/*Courses*/
.course-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 10px;
}
.course-buttons button {
    padding: 10px 40px;
    font-size: 1rem;
    background-color: #426485;
    color: var(--color2);
    border: 2px solid var(--color1);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.course-buttons button:hover {
    background-color: #37603b;
}
#courses { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.course-card {
    border: 2px solid var(--color1);
    padding: 5px;
    color: var(--color2);
    text-align: center;
}
.course-card.completed {
    background-color: #438b46;
    color: white;
}

.course-card.not-completed {
    background-color: #bcce61;
    color: white;
}
.completed .status-icon {
    color: green;
    background-color: #fdf9f9;
    margin-right: 10px;
}

.not-completed .status-icon {
    color: red;
    background-color: #fdf9f9;
    margin-right: 10px;
}
.total{
    text-align: center;
    font-size: 1.2rem;
    color: var(--color1);
}

/* --- Footer --- */
/*redes*/
footer .redes {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 1rem 0;
}
footer .redes img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    transition: transform 0.3s;
}
/* Efecto hover  */
footer .redes img:hover {
    transform: scale(1.2);
}
.foter,
#lastModified {
    font-size: 1rem;
    background-color: var(--color3);
    color: var(--color2);
    text-align: center;
    display: block;
    padding: 2px 0;
}
